<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="index.htm" />
                <add value="Default.htm" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
		<security>
			<requestFiltering>
				<verbs>
					<add verb="POST" allowed="true" />
				</verbs>
			</requestFiltering>
		</security>
    </system.webServer>
</configuration>